/*
 * Starter keymap for the Link, running on the dongle (central).
 * Based on the stock link.keymap from zmk-cannonkeys-keyboards.
 *
 * ZMK Studio: &studio_unlock is on the lower layer (hold LOWER, press ENTER).
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  `    |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   -   |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |  '    |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  | PLAY  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | LGUI| ALT  | LCTL | LOWER| ENTER  |  | SPACE | RAISE|  RCTL |  RALT | RGUI |

            bindings = <
&kp ESCAPE        &kp N1  &kp N2    &kp N3    &kp N4              &kp N5                                        &kp N6           &kp N7         &kp N8     &kp N9         &kp N0    &kp BACKSPACE
&kp TAB           &kp Q   &kp W     &kp E     &kp R               &kp T                                         &kp Y            &kp U          &kp I      &kp O          &kp P     &kp BACKSLASH
&kp LSHFT         &kp A   &kp S     &kp D     &kp F               &kp G                                         &kp H            &kp J          &kp K      &kp L          &kp SEMI  &kp ENTER
&kp LEFT_CONTROL  &kp Z   &kp X     &kp C     &kp V               &kp B             &kp C_MUTE     &kp C_PP     &kp N            &kp M          &kp COMMA  &kp DOT        &kp FSLH  &kp RSHFT
                          &kp LGUI  &kp LALT  &mt LEFT_SHIFT TAB  &kp LEFT_CONTROL  &lt 3 SPACE    &lt 3 ENTER  &lt 2 BACKSPACE  &kp BACKSPACE  &mo 3      &kp RIGHT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
        };

        mac {
            bindings = <
&kp ESCAPE        &kp N1  &kp N2            &kp N3    &kp N4  &kp N5                                   &kp N6           &kp N7         &kp N8     &kp N9         &kp N0    &kp BACKSPACE
&kp TAB           &kp Q   &kp W             &kp E     &kp R   &kp T                                    &kp Y            &kp U          &kp I      &kp O          &kp P     &kp BACKSLASH
&kp LSHFT         &kp A   &kp S             &kp D     &kp F   &kp G                                    &kp H            &kp J          &kp K      &kp L          &kp SEMI  &kp ENTER
&kp LEFT_CONTROL  &kp Z   &kp X             &kp C     &kp V   &kp B         &kp C_MUTE     &kp C_PP    &kp N            &kp M          &kp COMMA  &kp DOT        &kp FSLH  &kp RSHFT
                          &kp LEFT_CONTROL  &kp LALT  &mo 2   &kp LEFT_GUI  &lt 3 SPACE    &kp RETURN  &lt 2 BACKSPACE  &kp BACKSPACE  &mo 3      &kp RIGHT_ALT
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_DN C_VOL_UP>,
                <&inc_dec_kp PG_DN PG_UP>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BLOAD |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |       |   1 |   2 |   3  |   4  |   5  |                   |   6  |   7   |   8   |   9  |    0  |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  .    |  :   |   \   |       |
            //               |     |      |      |      |ST.ULOCK|  |       |      |       |       |      |

            bindings = <
&kp GRAVE      &kp F1     &kp F2                &kp F3                 &kp F4            &kp F5                                       &kp F6     &kp F7     &kp F8           &kp F9     &kp F10   &kp F11
&kp LS(GRAVE)  &kp N1     &kp N2                &kp N3                 &kp N4            &kp N5                                       &kp N6     &kp N7     &kp N8           &kp N9     &kp N0    &kp F12
&trans         &kp EXCL   &kp AT                &kp HASH               &kp DLLR          &kp PRCNT                                    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR   &kp RPAR  &kp SINGLE_QUOTE
&trans         &kp EQUAL  &kp LS(LEFT_BRACKET)  &kp LS(RIGHT_BRACKET)  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans            &trans  &kp PLUS   &kp MINUS  &kp RS(MINUS)    &kp EQUAL  &kp BSLH  &kp RS(SINGLE_QUOTE)
                          &trans                &trans                 &trans            &trans             &studio_unlock    &trans  &trans     &trans     &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |     |  F1  |  F2  |  F3   |  F4   |  F5  |                |  F6  |  F7  |  F8   |  F9  |  F10  | BLOAD |
            // |     | BT1  | BT2  |  BT3  |  BT4  |  BT5 |                | PGUP | HOME |   ^   | END  |  INS  |  DEL  |
            // |     |      |      |       |       |      |                | PGDN |   <- |   v   | ->   |       |       |
            // |     |BTCLR |      |       |       |      |      |  |      | CAPS |      |  PREV | NEXT |  PSCR |       |
            //              |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                    &kp F6    &kp F7    &kp F8      &kp F9      &kp F10    &kp DEL
&trans  &none   &none   &none   &none   &none                     &kp PGUP  &kp HOME  &kp UP      &kp END     &kp INS    &kp F12
&trans  &trans  &trans  &trans  &trans  &trans                    &kp PGDN  &kp LEFT  &kp DOWN    &kp RIGHT   &kp HOME   &kp HOME
&trans  &none   &trans  &trans  &trans  &trans  &trans    &trans  &to 0     &to 1     &kp C_PREV  &kp C_NEXT  &kp PSCRN  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans      &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
        };
    };
};
